<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
  <head>
    <title>Test Wep App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <!-- js jquery -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <!-- js bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- js angular -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <!-- js app -->
    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="/profile.js"></script>

    <style>    
      /* Set black background color, white text and some padding */
      footer {background-color: #555; color: white; padding: 15px;}
    </style>
  </head>

  <body ng-controller="FirstCtrl as firstCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Messages</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Search..">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>        
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
          </ul>
        </div>
      </div>
    </nav>
      
    <div class="container text-center">    
      <div class="row">
        <div class="col-sm-3 well">
          <div class="well">
            <p><a href="#">My Profile</a></p>
            <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
          </div>
          <div class="well">
            <p><a href="#">Interests</a></p>
            <p>
              <span class="label label-default">News</span>
              <span class="label label-primary">W3Schools</span>
              <span class="label label-success">Labels</span>
              <span class="label label-info">Football</span>
              <span class="label label-warning">Gaming</span>
              <span class="label label-danger">Friends</span>
            </p>
          </div>
          <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p><strong>Ey!</strong></p>
            People are looking at your profile. Find out who.
          </div>
          <label>Friends</label>
          <a ng-repeat="i in firstCtrl.friendList" ng-click="firstCtrl.friendRedirect()"><p>{{ i.name }}</p></a>
        </div>

        <!--start of mid container-->
        <!--start of row 1-->
        <div class="col-sm-7">
        
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default text-left">
                <div class="panel-body">
                  <h1>Profile page</h1>
                  <button type="button" class="btn btn-default btn-sm" ng-model="firstCtrl.udBtn" ng-click="firstCtrl.updateProfile()">{{ firstCtrl.udBtn }}</button>
                  <!--<p contenteditable="true">Profile Page</p>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                  </button>     -->
                </div>
              </div>
            </div>
          </div>
          <!--end of row 1-->
          <!--start of row 2-->
          <div class="row">
            <div class="col-sm-6">
              <div class="well">
              <img src="http://placehold.it/200x200" height="200" width="200" alt="profile_pic" id="ppic">
              <p>Profile picture<p>
              <input type="file" onchange="previewFile()" style="visibility: hidden" id="ppBtn"><br>
              </div>
            </div>
          </div>
          <!--end of row 2-->
          <!--start of row 3-->
          <div class="row">
            <div class="col-sm-12">
              <div class="well text-left">
                <form name="profileForm" novalidate>
                  <div class="form-group">
					          <label for="username">Username:</label> 
                    <input type="text" id="username" name="username" size="30" style="pointer-events:none; background-color: grey;" ng-model="firstCtrl.username">
                  </div>
                  <div class="form-group">
					          <label for="name">Name:</label> 
                    <input type="text" id="name" name="name" size="30" readonly required ng-model="firstCtrl.name">
                  </div>
                  <div class="form-group">
					          <label for="email">Email:</label> 
                    <input type="text" id="email" name="email" size="30" readonly required ng-model="firstCtrl.email">
                  </div>
                </form>              

              </div>
            </div>
          </div>
          <!--end of row 3-->
          <!--friend req start-->
          <div class="row">
            <div class="col-sm-12">
              <div class="well text-left">
                <form>
                  <div class="form-group">
                    <h5>Friend requests</h5>
                    <div ng-repeat="i in firstCtrl.reqList">
                      <!--<input type="text" id="reqInput" placeholder="{{ i.username }}" ng-value="{{ i.name }}">-->
                      <label>{{ i.name }}</label>
                      <button ng-click="firstCtrl.addFriend($index)">Accept Friend</button>
                    </div>
                  </div>
                </form>              

              </div>
            </div>
          </div> 
          <!--friend req end-->

          <!--friend search start-->
          <div class="row">
            <div class="col-sm-12">
              <div class="well text-left"> 
                <form role="search">
                  <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search.." ng-model="firstCtrl.searchTerm">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="firstCtrl.searchProfile()">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                  <input type="text" id="profileName" name="profileName" size="30" style="pointer-events:none; background-color: grey;" ng-model="firstCtrl.profileName">
                  <button type="button" class="btn btn-default btn-sm" ng-click="firstCtrl.viewProfile()">View Profile</button>        
                </form>
              </div>
            </div>
          </div>
          <!--friend search end-->

        </div>
        <!--end of mid container-->
        <div class="col-sm-2 well">
          <div class="thumbnail">
            <p>Upcoming Events:</p>
            <img src="paris.jpg" alt="Paris" width="400" height="300">
            <p><strong>Paris</strong></p>
            <p>Fri. 27 November 2015</p>
            <button class="btn btn-primary">Info</button>
          </div>      
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>
  </body>
</html>