<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/reg.js"></script>
    <script type="text/javascript" src="/profile.js"></script>
</head>
<body ng-controller="RegCtrl as regCtrl">
    <div class="container">
        <form name="regForm" novalidate ng-submit="regCtrl.createProfile()">
            <div class="form-group">
                        <label for="username">Username:</label> 
            <input type="text" id="username" name="username" size="30" required ng-model="regCtrl.username">
            </div>
            <div class="form-group">
                        <label for="name">Name:</label> 
            <input type="text" id="name" name="name" size="30" required ng-model="regCtrl.name">
            </div>
            <div class="form-group">
                        <label for="email">Email:</label> 
            <input type="text" id="email" name="email" size="30" required ng-model="regCtrl.email">
            </div>
            <div class="form-group">
            <button type="submit" id="regSubBut" class="btn btn-success form-control" ng-disabled="regForm.$invalid">Submit</button>
            </div>
        </form>
        
    </div>      
</body>
</html>